<div class="row">
  <div class="col">
    <h1>Lists</h1>
  </div>
</div>

<div class="row">
  <% @lists.each do |list| %>
    <div class="col-sm-12 col-md-4 mb-2">
      <div class="card">
        <%= image_tag list.picture_url, class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= list.name %></h5>
          <p class="card-text">
          </p>
          <a href="#" class="btn btn-outline-primary">Details</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
